<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar produto</h1>
    <form action="/cdproduto" method="POST">
        <label for="NomeProd">Nome do produto:</label><br>
        <input type="text" name="NomeProd"><br>
        <label for="PrecoProd">Preço do produto:</label><br>
        <input type="number" name="PrecoProd"><br>
        <label for="CateProd">Cadegoria do produto:</label><br>
        <input type="text" name="CateProd"><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>